*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.flex-container-1{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
    gap: 4px;
    height: 100vh;
} 
.item {
    width: 250px;
    height: 250px;
}
.item:first-child{
   
    background-color: orange;
    border-radius: 40%;
    color: white;
    display: flex;
    align-items:center;
    justify-content:center;
}
.item:nth-child(2){
    background-color: yellow;
    color: white;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    align-items:center;
    justify-content:center;

}
.item:nth-child(3){
    background-color: blue;
    border-radius: 100%; 
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
    display: flex;
    align-items:center;
    justify-content:center;
}
.item:last-child{
    background-color: pink;
    border-radius: 4px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px; 
    color: white;
    display: flex;
    align-items:center;
    justify-content:center;
}
.fa-fish{
    position: relative;
    bottom: 30px;
    right: 30px;
}
.fa-ferry{
    position: relative;
    bottom: 30px;
    right: 35px;
}